body {
  /* background: url("/img/lookingdownroad.jpg") no-repeat center center fixed; */
  /* background: url("/img/nightsky.jpg") no-repeat center center fixed; */
  /* background: url("https://jessbob.github.io/portfolio-bootstrap/img/mountains.jpg")
    no-repeat center center fixed; */
  /* background: url("/img/canyon.jpg") no-repeat center center fixed; */
  background: url("https://jessbob.github.io/portfolio-bootstrap/img/wedding.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
