body {
  margin-bottom: 100px;
  font-size: 1.4em;
  /* background: url("/img/lookingdownroad.jpg") no-repeat center center fixed; */
  /* background: url("/img/nightsky.jpg") no-repeat center center fixed; */
  /* background: url("https://jessbob.github.io/portfolio-bootstrap/img/mountains.jpg")
    no-repeat center center fixed; */
  /* background: url("/img/canyon.jpg") no-repeat center center fixed; */
  /* background: url("/img/wedding.jpg") no-repeat center center fixed; */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.links {
  color: #ededee;
  font-weight: 700;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.text-animation {
  animation: type 8s steps(48);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid whitesmoke;
  width: 48ch;
  font-size: 36px;
  margin-top: 100px;
  margin-left: -10px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.85);
  border-right-style: groove;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 48ch;
  }
}

.projects {
  margin-top: 100px;
}

.bar {
  height: 40px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 22px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}

.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 40px;
  top: 0;
  z-index: -2;
  background: #c4d3e0;
}

.bar::after {
  content: "";
  background: white;
  height: 40px;
  transition: 0.7s;
  display: block;
  width: 100%;
  animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.bar1::after {
  max-width: 90%;
}

.bar2::after {
  max-width: 80%;
}

.bar3::after {
  max-width: 60%;
}

.bar4::after {
  max-width: 50%;
}

.bar5::after {
  max-width: 70%;
}

.form-container {
  max-width: 600px;
  border: 1px solid #6c757d;
  border-radius: 4px;
  margin: 100px auto 10px;
  background-color: rgb(52, 58, 64, 0.9);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: var(--white);
}

.form-contents {
  width: 96%;
  text-align: left;
  margin: auto;
}

.form-inputs {
  width: 100%;
  border: 1px solid #6c757d;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  height: 30px;
  margin: auto;
}

.form-message {
  width: 100%;
  height: 150px;
  margin: auto;
  border: 1px solid #6c757d;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.form-labels {
  width: 100%;
  margin: auto;
  font-size: 18px;
}

.form-footer {
  width: 96%;
  text-align: right;
  margin: auto;
}

.message-alert {
  font-size: 18px;
  float: left;
}

.contact-links {
  margin: auto;
  /* width: 700px; */
  text-align: center;
}

.contact-links-item {
  vertical-align: middle;
  display: inline-block;
  margin: 2%;
}

@media all and (max-width: 500px) {
  .text-animation {
    font-size: 13px;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .message-alert {
    font-size: 16px;
  }

  .contact-links-item {
    font-size: 18px;
  }
}
